body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f5f7;
}

/* clases generales */
.article-content {
  font-size: 16px;
  font-weight: 400;
  color: rgba(52, 69, 99, 1);
}

.article-title {
  font-size: 40px;
  font-weight: 700;
  color: rgba(9, 30, 66, 1);
}

/* header */

header {
  background-color: #fff;
}

header a {
  font-weight: 700;
  font-size: 18px;
}

.nav li a {
  font-weight: 500;
  font-size: 15px;
}

/* main */
main {
  background-image: url(./assets/Header\ bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-bottom-left-radius: 60px;
}

main > .container {
  height: 721px;
}

.main-content {
  max-width: 920px;
  padding-left: 8%;
  padding-right: 10%;
}

.main-content h1 {
  font-size: 48px;
}

.main-content h5 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(127, 140, 255, 1);
}

/* section cards works */

.works-cont {
  min-width: 1156px;
}

.works {
  background-color: #f4f5f7;
  padding: 100px;
}

.card {
  max-width: 1200px;
  margin-bottom: 50px;
  border-radius: 16px;
}

.card-mayus {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  color: rgba(52, 69, 99, 1);
}

.card-back-end {
  color: rgba(107, 119, 140, 1);
  font-size: 18px;
  font-weight: 400;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-width: 500px;
  padding: 12px;
}

.list {
  display: flex;
  flex-direction: row;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
}

.card-body p {
  margin: 0;
}

.card-list-tech {
  background-color: rgba(235, 235, 255, 1);
  font-size: 12px;
  padding: 4px 12px;
  font-weight: 500;
  border-radius: 8px;
  margin-right: 8px !important;
  color: rgba(96, 112, 255, 1);
}

.card-body .list {
  height: auto;
  gap: 12px;
}

.btn-primary {
  background-color: white;
  color: rgba(57, 109, 242, 1);
}

/* aside-about-me */

/* hero image */

li {
  list-style: none;
}


.hero-content a {
  text-decoration: none;
}

.hero {
  background-image: url("./assets/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.hero .container-big {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.hero-content {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 1.5rem 1px 1.5rem;
  flex-direction: column;
  justify-content: center;
}

.hero-content > a {
  color: rgba(127, 140, 255, 1);
  font-size: 16px;
  font-weight: 500;
}

.separete-items-down,
.separete-items-down > * {
  margin-bottom: 12px;
}

.hero-title {
  font-size: 3rem;
  color: #172b4d;
  width: 11ch;
  animation: text-btu 1.5s ease-in-out;
}

.hero-text {
  font-weight: 400;
  color: #344563;
}

.social-media {
  width: 190px;
  max-width: 80%;
  animation: text-rtl 1.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 15ch;
  }

  .hero-text {
    max-width: 920px;
  }

  .hero {
    height: calc(90vh);
  }
}

    /* ------------- */

    .hero-about {
      background-image: url("");
      height: auto;
      background-color: white;
      padding-bottom: 50px !important;
    }
    
    .hero-about .hero-title {
      font-size: 40px;
    }
    
    .languajes-title-cont img {
      width: 44px;
    }
    
    .framework-item img {
      width: 24px;
      height: 24px;
      display: flex;
    }
    
    .languaje-item img {
      width: 48px;
    }
    
    .hero-about .social-media img {
      padding-left: 12px;
    }
    
    .hero-about .hero-content {
      margin-bottom: 1px;
      padding-bottom: 37px;
    }
    
    .work-button-about button {
      margin-top: 0.5rem;
    }
    
    /* section laguajes */
    
    .languajes {
      padding: 0 30px;
      color: black;
    }
    
    .languajes > h2 {
      margin-bottom: 50px;
    }
    
    .languajes-cont {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    
    .languajes-title-cont {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      padding-right: 12px;
    }
    
    .languaje-item {
      list-style-type: none;
      display: flex;
      align-items: center;
      padding: 9px 12px;
      background-color: #f7f7f9;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      color: #253858;
      gap: 25px;
      margin-bottom: 16px;
      border-radius: 12px;
    }
    
    @media screen and (min-width: 879px) {
      .hero-about {
        height: auto;
        display: flex;
        justify-content: start;
        padding-top: 100px;
        padding-bottom: 1px;
        gap: 5vw;
      }
    
      .hero-content {
        margin-top: 0;
      }
    
      .cba {
        max-width: 40%;
        flex: 0 0 10%;
      }
    
      .languajes {
        max-width: 582px;
        flex: 1 1 70%;
      }
    
      .languajes-cont {
        flex-direction: row;
        gap: 12px;
      }
    
      .languaje-item {
        width: 122px;
        height: 122px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 0;
        padding: 12px;
      }
    
      .languaje-item img {
        width: 48px;
      }
    }
    
    /* section framework */
    
    .framework-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 12px;
      border-bottom: 2px solid #ffcd2c;
      font-weight: 400;
    }
    







/* footer-contact-me */

footer {
  background-color: #fff;
}

.container-footer {
  background-image: url(assets/background-contact-desk.svg);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 60px;
}

footer .article-title {
  color: #fff;
}

footer .article-content {
  color: #fff;
  text-align: center;
}

.form-control {
  border-radius: 8px;
}

footer form .btn-primary {
  align-self: center;
  border: #6070ff;
  color: #6070ff;
  background-color: #fff;
}

.c,
.c * {
  border: 1px solid black;
}
